<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CenterCLR.RelaxVersioner" version="0.8.2" targetFramework="net45" />
  <package id="fscx-sample-functional-filter" version="0.6.2-pre" targetFramework="net45" />
  <package id="FSharp.Compiler.Service" version="6.0.2" targetFramework="net45" />
  <package id="FSharp.Expandable.Compiler.Build" version="0.6.2" targetFramework="net45" />
  <package id="FSharp.Expandable.Compiler.Core" version="0.6.2" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.4.1-beta-24227-04" targetFramework="net45" />
</packages>