source https://nuget.org/api/v2

nuget FSharp.Core
nuget FSharp.Compiler.Service 6.0.2
nuget FSharp.Compiler.Service.Visitors
nuget CenterCLR.RelaxVersioner

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FAKE.Persimmon
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget Persimmon
  